@font-face {
    font-family: bungee;
    src: url('../../font/bungee/BungeeShade-Regular.ttf');
}

.app-footer{
    background-color: #292929;    
    height: 200px;
position: sticky;
}

.app-footer .footer-container{
display: flex;
align-items: center;
height: 100%;
    justify-content: center;
}



.app-footer h1{ 
    display: inline-block;
font-family: bungee;
color: #fff;
font-size: 2rem;
color: #df999a;
margin-inline-end: 10px;
}

.app-footer h1 span{ 
color: #ace4e4
}

.app-footer img{ 
    display: inline-block;
width: 100px
}