@font-face {
    font-family: bungee;
    src: url('../../font/bungee/BungeeShade-Regular.ttf');
}

.app-footer{
    background-color: #292929;    
    height: 200px;
position: sticky;
}

.app-footer .footer-container{
display: flex;
align-items: center;
height: 100%;
    justify-content: center;
}



.app-footer small{ 
  color: whitesmoke;
  font-size: 1.2rem;
  font-family: major;
}

