@font-face {
    font-family: bungee;
    src: url('../../font/bungee/BungeeShade-Regular.ttf');
}

.app-header{
    background-color: #292929;    
    height: 100px;
}

.app-header .header-container{
display: flex;
align-items: center;
height: 100%;
    justify-content:space-between;
}
.app-header .header-container ul{
background-color: whitesmoke;
}
.app-header .header-container ul li a{
text-decoration: none;
font-size: 1.4rem;
font-family: major;
}



.app-header h1{ 
    display: inline-block;
font-family: bungee;
color: #fff;
font-size: 2rem;
color: #df999a;
margin-inline-end: 10px;
}

.app-header h1 span{ 
color: #ace4e4
}

.app-header img{ 
    display: inline-block;
width: 100px
}

