.email-preview{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    font-weight: bold;
    width: 100%;
    border: 1px solid #292929;
    font-size: 1.4rem;
    padding: 5px;
    background-color: #fff;
}
.email-preview.email-read{
    
    font-weight: normal;
}

